In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("0929_실습파일/train.csv")
test=pd.read_csv("0929_실습파일/test.csv")

In [3]:
train.isnull().sum()[train.isnull().sum()>0]

LotFrontage      259
Alley           1369
MasVnrType         8
MasVnrArea         8
BsmtQual          37
BsmtCond          37
BsmtExposure      38
BsmtFinType1      37
BsmtFinType2      38
Electrical         1
FireplaceQu      690
GarageType        81
GarageYrBlt       81
GarageFinish      81
GarageQual        81
GarageCond        81
PoolQC          1453
Fence           1179
MiscFeature     1406
dtype: int64

In [4]:
train=train.drop(['Alley', 'FireplaceQu','PoolQC','Fence','MiscFeature'], axis=1)
test=test.drop(['Alley', 'FireplaceQu','PoolQC','Fence','MiscFeature'], axis=1)

In [21]:
corr=train.corr()
corrsales=corr[np.abs(corr['SalePrice'])>0.5].index
train=pd.DataFrame(train, columns=corrsales)
test = pd.DataFrame(test, columns = corrsales)
corr=train.corr()

In [7]:
rel_vars = corr.SalePrice[corr.SalePrice > 0.5]
rel_cols = list(rel_vars.index.values)

In [8]:
train

,OverallQual,YearBuilt,YearRemodAdd,TotalBsmtSF,1stFlrSF,GrLivArea,FullBath,TotRmsAbvGrd,GarageCars,GarageArea,SalePrice
0,7,2003,2003,856,856,1710,2,8,2,548,208500
1,6,1976,1976,1262,1262,1262,2,6,2,460,181500
2,7,2001,2002,920,920,1786,2,6,2,608,223500
3,7,1915,1970,756,961,1717,1,7,3,642,140000
4,8,2000,2000,1145,1145,2198,2,9,3,836,250000
...,...,...,...,...,...,...,...,...,...,...,...
1455,6,1999,2000,953,953,1647,2,7,2,460,175000
1456,6,1978,1988,1542,2073,2073,2,7,2,500,210000
1457,7,1941,2006,1152,1188,2340,2,9,1,252,266500
1458,5,1950,1996,1078,1078,1078,1,5,1,240,142125
1459,5,1965,1965,1256,1256,1256,1,6,1,276,147500

In [27]:
xtrain = train.drop('SalePrice', 1)
xtest = test.drop('SalePrice', 1)
ytrain = train['SalePrice']

In [28]:
from sklearn.ensemble import RandomForestRegressor

In [29]:
model = RandomForestRegressor(n_estimators = 300, random_state = 0)
model.fit(xtrain, ytrain)

RandomForestRegressor(n_estimators=300, random_state=0)

In [30]:
model.score(xtrain, ytrain)

0.9788854136310088

In [50]:
xtest['TotalBsmtSF'].fillna(xtest['TotalBsmtSF'].mean(), inplace = True)
xtest['GarageCars'].fillna(xtest['GarageCars'].mean(), inplace = True)
xtest['GarageArea'].fillna(xtest['GarageArea'].mean(), inplace = True)

In [51]:
ypred = model.predict(xtest)

In [52]:
housepricesubmit = pd.read_csv("0929_실습파일/sample_submission.csv")
housepricesubmit['SalePrice'] = ypred

In [54]:
housepricesubmit.to_csv("housepricesubmit.csv", index = False)