In [ ]:
"""
데이터베이스 : 데이터집합체(중복 -> 일관성 유지 어려움 -> 데이터베이스 체계적으로 관리의 필요 ===> DBMS)
DBMS(소프트웨어) : 오라클(미), MSSQL(러), MYSQL(한), SQLITE(일), Maria08(중), ... => 공용어(SQL(Structured Query Language) 문법)

파이썬에서 기본적으로 제공되는 DBMS : SQLITE3
DB연결/해제, 커서, 데이터 삽입/로드/조회/수정/삭제


* 자료형
파이썬    SQLite
int       Integer
float      real
str        text
bytes      BLOB
None       NULL

"""

In [ ]:
# 데이터베이스 생성(연결) -> 테이블 구조 설계(각 컬럼에 대한 타입 정의, CREATE TABLE 명령) -> 데이터 저장(insert into) -> 조회/수정/삭제/추가...

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect("emp.db")
# 기존에 emp.db파일(데이터베이스)이 업다면 -> 새롭게 생성하고 연결, 파일이 있다면 연결을 진행

In [3]:
conn.execute('create table emp_data(id integer, name text, nickname text, department text, employment_date text)') # 데이터베이스 객체 변수를 이용하여 테이블 설계
# create table 테이블명(컬럼1 타입, 컬럼2 타입, ..., 컬럼n 타입)

In [4]:
# 커서를 이용한 데이터 추가
cur = conn.cursor()

In [5]:
# insert into 테이블명 values (?, ?, ..., ?)

# cur.execute('insert into 테이블명 values ('a', 100)') 컬럼이 2개
# cur.execute('insert into 테이블명 values (?, ?)', ('a', 100))

# data = [('a', 100), ('b', 200)]
# cur.executemany('insert into 테이블명 values(?, ?)', data)

cur.executemany(
'insert into emp_data values (?, ?, ?, ?, ?)',
    [(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
     (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
     (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
     (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
     (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')
    ]
)

In [6]:
cur.execute('select * from emp_data')
# emp_data테이블로부터 모든 데이터를 가져와라 -> 가져온 데이터 -> cur가 데이터를 가리키고 있음

In [7]:
for row in cur : # cur가 가리키고 있는 위치부터 데이터를 하나씩 읽어내려가면서 row에 저장
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [8]:
# 데이터베이스 저장
conn.commit()
# 데이터베이스 연결 종료
conn.close()

In [9]:
# cur.execute('select * from emp_data')

ProgrammingError: Cannot operate on a closed database.

In [10]:
conn = sqlite3.connect("emp.db") # 이미 생성되어 있으므로, 데이터베이스 연결만 수행

In [12]:
cur = conn.cursor()

In [13]:
cur.execute('select * from emp_data')

In [14]:
for row in cur : # cur가 가리키고 있는 위치부터 데이터를 하나씩 읽어내려가면서 row에 저장
    print(row)

(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000')
(2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000')
(3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000')
(4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000')
(5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')

In [17]:
cur.execute('select * from emp_data')

In [18]:
rows = cur.fetchall()

In [19]:
print(rows)

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'), (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'), (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'), (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'), (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [20]:
conn.close()

In [ ]:
# emp_data를 모두 가져와서 출력하시오

In [21]:
conn = sqlite3.connect("emp.db")
# 데이터베이스 내부에는 여러 테이블들이 저장

In [22]:
cur = conn.cursor()

In [23]:
cur.execute('select * from emp_data')

In [24]:
rows = cur.fetchall()

In [27]:
rows

[(1, 'gildong', 'gd', 'marketing', '2020-10-06 10:36:00.000'),
 (2, 'sunshin', 'ss', 'marketing', '2019-10-06 10:36:00.000'),
 (3, 'yusin', 'ys', 'development', '2020-01-06 10:36:00.000'),
 (4, 'sejong', 'sj', 'marketing', '2020-05-06 10:36:00.000'),
 (5, 'bogo', 'bg', 'development', '2020-07-06 10:36:00.000')]

In [30]:
# 컬럼명 추출
cols = [column[0] for column in cur.description]

In [31]:
import pandas as pd
import numpy as np

In [32]:
df = pd.DataFrame.from_records(data = rows, columns = cols)

In [33]:
df

   id     name nickname   department          employment_date
0   1  gildong       gd    marketing  2020-10-06 10:36:00.000
1   2  sunshin       ss    marketing  2019-10-06 10:36:00.000
2   3    yusin       ys  development  2020-01-06 10:36:00.000
3   4   sejong       sj    marketing  2020-05-06 10:36:00.000
4   5     bogo       bg  development  2020-07-06 10:36:00.000

In [34]:
# 테이블 제거
# drop table 테이블명
conn.execute('drop table emp_data')

In [35]:
conn.close()

In [36]:
conn = sqlite3.connect('emp.db')

In [37]:
cur = conn.cursor()

In [38]:
cur.execute('select * from emp_data')

OperationalError: no such table: emp_data

In [39]:
conn = sqlite3.connect("dbtest.db")
# 안드로이드 운영체제에도 sqlite사용됨

In [40]:
cur = conn.cursor()

In [41]:
cur.execute('create table test (name text, jumsu int)') #      'sql 명령문'

In [42]:
cur.execute("insert into test values ('sunshin', 100)") # invalid syntax : syntax(구문) 오류

In [43]:
cur.execute('select * from test')

In [44]:
for row in cur :
    print(row)

('sunshin', 100)

In [46]:
cur.execute("insert into test values (?, ?)", ('sunshin', 100))

In [49]:
cur.execute('select * from test')
rows = cur.fetchall()

In [50]:
rows

[('sunshin', 100), ('sunshin', 100)]

In [51]:
cur.execute("update test set jumsu=90 where name='sunshin'")
# update 테이블명 set 컬럼=변경값 where 조건식
# 테이블로부터 조건식에 해당되는 데이터의 컬럼 값을 변경값으로 바꾸어라

In [52]:
cur.execute('select * from test')
rows = cur.fetchall()
rows

[('sunshin', 90), ('sunshin', 90)]

In [ ]:
# cran.r-project.org 사이트 방문
# https://rstudio.com/ 사이트 방문

In [ ]:
# pandas 데이터프레임 -> sqlite 테이블로 저장

In [53]:
data = {'c1' : [1, 2, 3],
       'c2' : [11, 21, 31],
       'c3' : [12, 22, 32]}

In [56]:
data
df = pd.DataFrame(data)
df

   c1  c2  c3
0   1  11  12
1   2  21  22
2   3  31  32

In [57]:
conn = sqlite3.connect('cvTable.db')

In [58]:
# df를 cvTable 데이터베이스에 mytable 테이블로 저장
df.to_sql('mytable', conn)

In [59]:
cur = conn.cursor()

In [62]:
cur.execute("select c1, c2 from mytable") # *은 전체 컬럼

In [63]:
rows = cur.fetchall()
rows

[(1, 11), (2, 21), (3, 31)]