In [1]:
import pandas as pd
import numpy as np

In [147]:
train = pd.read_csv("titanic/train.csv")
train.shape

(891, 12)

In [148]:
test = pd.read_csv("titanic/test.csv")
test.shape

(418, 11)

In [149]:
train.head()
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [150]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [151]:
train.isnull().sum() # Age : 177

train['Age_mean'] = train['Age']
# train의 Age열에 대한 평균값으로 na를 대체하여 Age_mean열에 저장

In [152]:
# train['Age'].mean()
train['Age_mean'].fillna(train['Age'].mean(), inplace = True)

In [153]:
train['Age_mean'].isnull().sum()

0

In [154]:
test['Age_mean'] = test['Age']
test['Age_mean'].fillna(test['Age'].mean(), inplace = True)
test['Age_mean'].isnull().sum()

0

In [155]:
train['Sex'].value_counts()
# 성별에 따른 데이터 빈도수 계산

male      577
female    314
Name: Sex, dtype: int64

In [156]:
train['Gender'] = train['Sex'] == 'female'# female => True, male => False 저장
test['Gender'] = test['Sex'] == 'female'

In [157]:
train['Gender'].value_counts()

False    577
True     314
Name: Gender, dtype: int64

In [158]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [159]:
train['Embarked_S'] = train['Embarked'] == 'S'
train['Embarked_C'] = train['Embarked'] == 'C'
train['Embarked_Q'] = train['Embarked'] == 'Q'

In [160]:
train['Embarked_S'].sum() # 644건이 True
train['Embarked_C'].sum() # 168건
train['Embarked_Q'].sum() # 77건

77

In [161]:
test['Embarked_S'] = test['Embarked'] == 'S'
test['Embarked_C'] = test['Embarked'] == 'C'
test['Embarked_Q'] = test['Embarked'] == 'Q'

In [162]:
train['FamilySize'] = train['SibSp'] + train['Parch'] + 1
train['FamilySize'].value_counts()

1     537
2     161
3     102
4      29
6      22
5      15
7      12
11      7
8       6
Name: FamilySize, dtype: int64

In [163]:
test['FamilySize'] = test['SibSp'] + test['Parch'] + 1
test['Family'] = test['FamilySize']
test.loc[test['FamilySize'] == 1, 'Family'] = 'S'
test.loc[(test['FamilySize'] >= 2) & (test['FamilySize'] < 5), 'Family'] = 'M'
test.loc[test['FamilySize'] >= 5, 'Family'] = 'L'

In [164]:
train.head()
train['Family'] = train['FamilySize']

In [165]:
# FamilySize가 1이면 Family에는 S저장
# FamilySize가 2이상 5미만 Family에는 M저장
# FamilySize가 5이상이면 Family에는 L저장

# train.head()
                                                          
# train['Family'] = np.where(train['FamilySize'] == 1, 'S', np.where(train['FamilySize'] >= 5, 'L', 'M'))
# train['Family'].value_counts()
#ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

train.loc[train['FamilySize'] == 1, 'Family'] = 'S'
train.loc[(train['FamilySize'] >= 2) & (train['FamilySize'] < 5), 'Family'] = 'M'
train.loc[train['FamilySize'] >= 5, 'Family'] = 'L'

In [166]:
train[['Family', 'FamilySize']].head()

  Family  FamilySize
0      M           2
1      M           2
2      S           1
3      M           2
4      S           1

In [167]:
train['Family_S'] = train['Family'] == 'S'
train['Family_M'] = train['Family'] == 'M'
train['Family_L'] = train['Family'] == 'L'

In [168]:
test['Family_S'] = test['Family'] == 'S'
test['Family_M'] = test['Family'] == 'M'
test['Family_L'] = test['Family'] == 'L'

In [169]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Age_mean,Gender,Embarked_S,Embarked_C,Embarked_Q,FamilySize,Family,Family_S,Family_M,Family_L
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,22.0,False,True,False,False,2,M,False,True,False
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,38.0,True,False,True,False,2,M,False,True,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,26.0,True,True,False,False,1,S,True,False,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,35.0,True,True,False,False,2,M,False,True,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,35.0,False,True,False,False,1,S,True,False,False

In [170]:
train['Family'].value_counts()

S    537
M    292
L     62
Name: Family, dtype: int64

In [171]:
test['Family'].value_counts()

S    253
M    145
L     20
Name: Family, dtype: int64

In [172]:
train['Pclass'] = train['Pclass'].astype('category')
train['Pclass']

0      3
1      1
2      3
3      1
4      3
      ..
886    2
887    1
888    3
889    1
890    3
Name: Pclass, Length: 891, dtype: category
Categories (3, int64): [1, 2, 3]

In [173]:
train['Pclass_1'] = train['Pclass'] == 1
train['Pclass_2'] = train['Pclass'] == 2
train['Pclass_3'] = train['Pclass'] == 3

In [174]:
test['Pclass_1'] = test['Pclass'] == 1
test['Pclass_2'] = test['Pclass'] == 2
test['Pclass_3'] = test['Pclass'] == 3

In [175]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_mean', 'Gender',
       'Embarked_S', 'Embarked_C', 'Embarked_Q', 'FamilySize', 'Family',
       'Family_S', 'Family_M', 'Family_L', 'Pclass_1', 'Pclass_2', 'Pclass_3'],
      dtype='object')

In [221]:
train_temp = train['Name'].str.extract("(,\s[a-zA-Z]+.)")
train['Name_sub'] = train_temp[0].str.extract("(\w+)")
train['Name_sub_num'] = np.where(train['Name_sub'] == 'Mr', 0, np.where(train['Name_sub'] == 'Mrs', 1, np.where(train['Name_sub'] == 'Miss', 2, np.where(train['Name_sub'] == 'Master', 3, 4))))
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Family,Family_S,Family_M,Family_L,Pclass_1,Pclass_2,Pclass_3,Name_sub,Name_sub_num,Age_sub
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,...,M,False,True,False,False,False,True,Mr,0,22.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,...,M,False,True,False,True,False,False,Mrs,1,38.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,...,S,True,False,False,False,False,True,Miss,2,26.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,...,M,False,True,False,True,False,False,Mrs,1,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,...,S,True,False,False,False,False,True,Mr,0,35.0

In [225]:
Age_sub_mean = train.groupby('Name_sub_num')['Age'].mean()
Age_sub_mean

Name_sub_num
0    32.368090
1    35.898148
2    21.773973
3     4.574167
4    42.384615
Name: Age, dtype: float64

In [226]:
train['Age_sub'] = train['Age']

In [227]:
train['Age'].isnull().sum()

177

In [228]:
train['Name_sub_num'].value_counts()

0    517
2    182
1    125
3     40
4     27
Name: Name_sub_num, dtype: int64

In [229]:
train['Age_sub'].fillna(0, inplace = True)
train['Age_sub'].isnull().sum()

0

In [230]:
train.loc[(train['Name_sub_num'] == 0) & (train['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[0]
train.loc[(train['Name_sub_num'] == 1) & (train['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[1]
train.loc[(train['Name_sub_num'] == 2) & (train['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[2]
train.loc[(train['Name_sub_num'] == 3) & (train['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[3]
train.loc[(train['Name_sub_num'] == 4) & (train['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[4]

In [231]:
test_temp = test['Name'].str.extract("(,\s[a-zA-Z]+.)")
test['Name_sub'] = test_temp[0].str.extract("(\w+)")
test['Name_sub_num'] = np.where(test['Name_sub'] == 'Mr', 0, np.where(test['Name_sub'] == 'Mrs', 1, 2))
test['Age_sub'] = test['Age']
test['Age_sub'].fillna(0, inplace = True)
test.loc[(test['Name_sub_num'] == 0) & (test['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[0]
test.loc[(test['Name_sub_num'] == 1) & (test['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[1]
test.loc[(test['Name_sub_num'] == 2) & (test['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[2]
test.loc[(test['Name_sub_num'] == 3) & (test['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[3]
test.loc[(test['Name_sub_num'] == 4) & (test['Age_sub'] == 0), 'Age_sub'] = Age_sub_mean.loc[4]

In [232]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_mean', 'Gender',
       'Embarked_S', 'Embarked_C', 'Embarked_Q', 'FamilySize', 'Family',
       'Family_S', 'Family_M', 'Family_L', 'Pclass_1', 'Pclass_2', 'Pclass_3',
       'Name_sub', 'Name_sub_num', 'Age_sub'],
      dtype='object')

In [259]:
# Pclass -> Pclass_1, Pclass_2, Pclass_3    True/False
# 'Family_S', 'Family_M', 'Family_L' 대신 Pclass_1, Pclass_2, Pclass_3 사용
# 모델링

train.columns
fn = ['Gender', 'Age_sub', 'Embarked_S', 'Embarked_C', 'Embarked_Q',
     'Pclass_1', 'Pclass_2', 'Pclass_3'] # 독립변수들
xTrain = train[fn]
xTrain.head()

yLabel = train['Survived'] # 종속벼수(출력데이터)

In [260]:
xTest = test[fn]

In [261]:
# 문제 : xTrain, 정답 : yLabel -> 모델링(의사결정트리알고리즘) => 모델
# 테스트 입력 데이터 : xTest -----------------------------------> 입력 ====> 생존여부 출력(예측결과) => 캐글 서버에 제출 => 점수 및 등수 확인

In [262]:
# 모델링
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth = 4, random_state = 2020)
model

model.fit(xTrain, yLabel)

DecisionTreeClassifier(max_depth=4, random_state=2020)

In [263]:
prediction = model.predict(xTest)
prediction.shape

(418,)

In [264]:
test['Survived'] = prediction
res = test[['PassengerId', 'Survived']]

In [265]:
res.to_csv("mysubmit.csv", index = False)